@font-face {
  font-family: "Windows";
  src: local("Windows)"),
    url(https://raw.githubusercontent.com/UFYU/FONTWIN/blob/main/Windows%20Regular.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Windows";
  src: local("Windows"),
    url(https://github.com/UFYU/FONTWIN/blob/main/Windows%20Regular.ttf)
      format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Windows";
  src: local("Windows"),
    url(https://github.com/UFYU/FONTWIN/blob/main/Windows%20Regular.ttf)
      format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Windows";
  src: local("Windows Regular"),
    url(https://github.com/UFYU/FONTWIN/blob/main/Windows%20Regular.ttf)
      format("truetype");
  font-weight: normal;
  font-style: italic;
}
